body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: #111;
  padding-bottom: 600px;
}

h1,
h2,
h3,
h4 ul,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

img[src$=".jpg"] {
  border-radius: 4px;
}
