/*Introdução*/
.main-bg {
  background: #000;
  box-shadow: inset 0 -120px var(--cor-12);
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
}

.main-conteudo {
  align-self: end;
  padding-bottom: 200px;
}

.main img {
  height: 100%;
  object-fit: cover;
}

.main h1 {
  margin-bottom: 32px;
}

.main p {
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .main h1 {
    font-size: 48px;
  }

  .main p {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .main-bg {
    background: var(--cor-12);
    padding-top: 40px;
    box-shadow: inset 0 -60px #fff;
  }

  .main {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .main-conteudo {
    padding-bottom: 0;
  }

  .main h1 {
    font-size: 32px;
    margin-bottom: 16px;
  }

  .main img {
    height: 300px;
    width: 100%;
  }
}
